@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@layer utilities{
    .font-inter{
        font-family: "Inter", sans-serif;
    }
}

/* common style part */
*{
  
   max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto; 
}
.button{
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
   padding: 12px 16px;
   border-radius: 20px;
}

.arrow{
    fill: white;
}
.hero{
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
   
    
}




/* navbar-style */
.navbar{
   
}
.img{
    position: relative;
}
.sircale{
  
    top:-200px;
    
    

}
.mic{
    z-index: 2;
    top: 40px;
    
}
.artical{
  background: rgba(26, 11, 46, 1);
}
.section-1{
    background: rgba(35, 14, 61, 1);
    
}
.box-1, .box-2, .box-3, .box-4 ,.box-5{

display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
text-align: left;




border-radius: 30px;
padding: 20px;
background: rgba(53, 17, 101, 0.4);
}
.box-1, .box-2, .box-3, .box-4 ,.box-5 * h1{
    font-weight: 700;
    font: 24px;
}
.box-1, .box-2, .box-3, .box-4 ,.box-5 * p{
    font-weight: 400;
    font-size: 1em;
}


.box-1{
    grid-area:box-1 ;
}
.box-2{
    grid-area:box-2 ;
}
.box-3{
    grid-area:box-3 ;
}
.box-4{
    grid-area:box-4 ;
}
.box-5{
    grid-area:box-5;
}
.box-con{
    
    display: grid;
    gap: 20px;
    justify-items: start;
   grid-template-areas: 
   "box-1 box-2 box-2"
   "box-1 box-3 box-3"
   "box-4 box-4 box-5"

   ;



   
}
.featured{
    background: rgba(26, 11, 46, 1);
}
.card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px 40px;

}
.card{

background: rgba(37, 13, 68, 1);
display: flex;
flex-direction: column;
gap: 20px;
border-radius: 30px;
/* align-items: flex-start; */
text-align: left;
/* justify-content: flex-start; */
}
.footer{
    background-image: url('./assets/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 70px;

}
.icon{
    display: flex;
    gap: 20px;
}
.icon-container{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width:576px) {
    .card-container,.box-con{
        grid-template-areas: none;
        grid-template-columns: repeat(1, 1fr);
    }
    .card-container, .section-1{
        padding: 10px;
    }
    .card{
        padding: 0;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5 {
        grid-area: auto; 
    }
    .icon-container{
        flex-direction: column;
    }
    .footer{
        padding: 40px 20px;
    }
    .button{
        margin-bottom: 30px;
    }
    .mic{
        width: 90px;
        top:175px;
    }
    .sircale{
        width: 250px;
        top: 1px;
    }
    .hero{
        background-position:center;
        background-size:initial;
    }

}